[project]
	description = Cnblogs Client for Android - Material Design (???Android???)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Steve Lemuel (wlemuel)
[access "refs/for/refs/*"]
	read = group user/Steve Lemuel (wlemuel)
	push = group user/Steve Lemuel (wlemuel)
	label-Code-Review = -2..+2 group user/Steve Lemuel (wlemuel)
	label-Verified = -1..+1 group user/Steve Lemuel (wlemuel)
	rebase = group user/Steve Lemuel (wlemuel)
	removeReviewer = group user/Steve Lemuel (wlemuel)
	submit = group user/Steve Lemuel (wlemuel)
[access "refs/heads/*"]
	read = group user/Steve Lemuel (wlemuel)
	create = group user/Steve Lemuel (wlemuel)
	push = +force group user/Steve Lemuel (wlemuel)
	pushMerge = group user/Steve Lemuel (wlemuel)
[access "refs/tags/*"]
	push = group user/Steve Lemuel (wlemuel)
	push = +force group user/Steve Lemuel (wlemuel)
